@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?ae6a9384248cbf90ee195efb0de4a950") format("truetype"),
url("../fonts/flaticon.woff?ae6a9384248cbf90ee195efb0de4a950") format("woff"),
url("../fonts/flaticon.woff2?ae6a9384248cbf90ee195efb0de4a950") format("woff2"),
url("../fonts/flaticon.eot?ae6a9384248cbf90ee195efb0de4a950#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?ae6a9384248cbf90ee195efb0de4a950#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fi{
    display: flex;
    align-items: center;
}
.flaticon-brain:before {
    content: "\f101";
}
.flaticon-web-design:before {
    content: "\f102";
}
.flaticon-coding:before {
    content: "\f103";
}
.flaticon-smartphone:before {
    content: "\f104";
}
.flaticon-iteration:before {
    content: "\f105";
}
.flaticon-molecule:before {
    content: "\f106";
}
.flaticon-user:before {
    content: "\f107";
}
.flaticon-telephone:before {
    content: "\f108";
}
.flaticon-mail:before {
    content: "\f109";
}
